/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 30pt;
  background-color: #fff;
  color: #333;
  padding-top: 100px;
}

 h3, input{
  font-family: 'Amatic SC';
  font-size: 30pt;
  line-height: 100%;
  display: block;
  margin: 0
}
 .seven.wide.field input{
 font-family: 'Amatic SC';
 font-size: 20pt;
 line-height: 10%;
 display: block;
 margin: 0
}
h4 {
  font-family: 'Amatic SC';
  font-size: 40pt
}
h5 {
  font-family: 'Amatic SC';
  font-size: 20pt;
  margin: 0

}
h6 {
  font-family: 'Amatic SC';
  font-size: 30pt;

}


#navbar {
  margin: 0;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

}
#navbar a {
  text-decoration: none;
  color: #fff;
}
#navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  text-transform: uppercase;

}
#navbar a.navbar-brand span {
  font-size: 55px;

}
/* #navbar .navbar-mobile a.navbar-brand span {
  font-size: 35px;
} */



#navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
#navbar ul li {
  display: inline-block;
}
#navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}
#navbar ul li a:hover {
  background-color: rgba(255,255,255,0.15);
}
#navbar .navbar-toggler {
  display: none;
}
/* #navbar .navbar-mobile ul {
width: 100%;
padding: 0;

} */

/* .container {
  position: relative;
  height: 100vh;
  color: #fff;
} */

/* .container {
  margin-top: 20px;
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  // opacity: .8;
} */






@media (max-width: 991px) {
  #navbar ul {
    padding: 0 10px;
  }
  #navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  #navbar {
    padding: 0;
  }
  #navbar ul {
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  #navbar ul.open {
    max-height: 100vh;
  }
#navbar ul li {
    width: 100%;
  }
  #navbar ul li a {
    padding: 0;
  }
  #navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    /* border: 3px solid #fff; */
    border: none;
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  #navbar .navbar-toggler span,
  #navbar .navbar-toggler span::before,
  #navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 2px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  #navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  #navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  #navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  #navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  #navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
}




 .container {
  margin-top: 20px;
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
}

 #petContainer {
  margin: 2rem;
}
 .pet-card {
  text-align: center;
  letter-spacing: 1px;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 31rem;
  display: inline-grid;
  margin: 1rem 1rem;
}

.pet-image {
  justify-self: center;
  height: 17.5rem;
  width: 17.5rem;
}

 .toys {
  width: 17.5rem;
  justify-self: center;
  background-color: rbga(255, 255, 255, 50);
  margin: 0
}
.hungry {
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 20pt;
  border: 0px;
outline: none;

}
